.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 20px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 13px;
    border-radius: 10px;
    border: 1px solid #0066CC;
    background-color: #0066CC;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: end;
    position: relative;
}

.text:after {
    z-index: -1;
    transform: rotate(135deg);
    content: '';
    position: absolute;
    bottom: -17px;
    right: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #0066CC;
}

.name {
    font-weight: 600;
    font-size: 18px;

}

.messageText {
    white-space: normal;
    word-break: break-all;
    text-align: start;
}

.time {
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    padding-right: 11px;

}