.App {
    --header_height: 60px;
    padding-inline: 70px;
    padding-top: 160px;
}

.hw {

}

.hwTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    color: #000000 ;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #D9D9D9;

}