.friendMessage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.friendImageAndText {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 8px 13px;
    border-radius: 10px;
    border: 1px solid  #F5F7FB;
    background-color:  #F5F7FB;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: start;
    position: relative;
}

.friendText:after {
    z-index: -1;
    transform: rotate(45deg);
    content: '';
    position: absolute;
    bottom: -17px;
    left: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 25px solid #F5F7FB;
}

.friendName {
    font-weight: 600;
    font-size: 18px;
}

.friendMessageText {
    white-space: normal;
    word-break: break-all;
    text-align: start;
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    padding-left: 11px;
}
