.button {
    background-color: #ffaa00;
}

.disabled {

}

.secondary {
    background-color: #39603f;
}

.default {
    background-color: #cfb785;
}

.red {
    background-color: rgba(255, 30, 0, 0.31);
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
